/* All styles for your header Components live here */
.header-containter{
    display: flex;
    flex-flow: row;
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.header-main{
    display: flex;
    flex-flow: column;
}


.header-image{
    width: 50px;
    height: 50px;
    margin: 5px;
}

.header-title{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 55%;
    margin: 5px;
}

.header-title > div:nth-child(1){
    font-weight: bold;
}

.header-title > div:nth-child(2){
    font-size: 0.9rem;
    color: grey;
    font-weight: lighter;
}

.header-title > div:nth-child(3){
    font-size: 0.9rem;
    color: grey;
    font-weight: lighter;
}

.header-content{
    margin: 5px;
    line-height: 17px;
}

