.footer{
    display: flex; 
    flex-flow: row;
    padding: 15px 0px;
    color: #a5a4a4;
}

.footer>i:nth-child(1){
    margin-right: 50px;
    margin-left: 80px;
}

.footer>i:nth-child(2){
    margin-right: 10px;
}

.footer>i:nth-child(3){
    margin-right: 10px;
    margin-left: 50px;
}

.footer>i:nth-child(4){
    margin-left: 50px;
}